body{
  background-image: url(https://image.freepik.com/free-vector/blue-light-abstract-technology-background-computer-graphic-website-internet_115579-281.jpg);
  font-family: Arial;
    overflow:hidden;
    margin-top: 7rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
      
  }
  
  .cat{
    position: absolute;
    width:470px;
    height:auto;
    
  }

  .area-login{
    display:flex;
    height:80vh;
    justify-content:center;
      
  }
  
  .login{
    background-color:#13138070;
    width:350px;
    height:375px;
    padding:22px;
    border-radius: 20px;    
  }

  .login form{
    display:flex;
    flex-direction:column;
  }
  
  .login input{
    margin-top:10px;
    background-color:#3b4b69;
    border:none;
    height:45px;
    border-radius: 25px;
    padding: 5px;
    
  }
  
  .login img{
    width:80px;
    height:auto;
    margin-left: 145px;
    clip-path: circle(50% at 50% 50%);

  }
  
  input{
    color: beige;
  }

  input:placeholder{
    color: white;
    font-size:18px;
    
  }
  
 form [type="submit"] { 
    display: block;
    background-color:#000000bd;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
  }
  
  p{
    color: white;
  }
  
  a{
    
    color: whitesmoke;  
    text-decoration:none;
    margin-left:10px;
  }